PORT=9090
NODE_ENV=development

# jwt密钥
JWT_SECRET=

# 数据库
DB_HOST=localhost
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_SSL=false

# redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB=
REDIS_TLS=

# 队列前缀
QUEUE_PREFIX=elysia-demo

# 日志处理
LOG_LEVEL=debug

#CORS相关
CORS_ORIGIN=*
CORS_CREDENTIALS=true

# 定时任务
CRON_ENABLED=false
CRON_HEARTBEAT_PATTERN="0 */5 * * * *"

# 七牛云配置
QINIU_UPLOAD_URL=
QINIU_ACCESS_KEY=
QINIU_SECRET_KEY=
QINIU_BUCKET=
QINIU_DOMAIN=
QINIU_REGION=
QINIU_USE_HTTPS=
QINIU_TOKEN_EXPIRES=
